h4 {
  background-color: blue;
}
p {
  font-style: normal;
}
.links {
  margin-right: 20px;

}
.fullCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 4px;
}
.cardContent {
  padding: 10px;
}